<div class="login-window" id="videe-activation-form">
    <div class="inner-container login-container">
        <div class="title">Partner Login</div>
        <div class="form-container">
            <form method="post">
                <div class="field-container">
                    <input type="text" placeholder="Token" name="key" id="key">
                </div>
                <div class="field-container">
                    <input type="text" placeholder="Domain" name="domain" id="domain">
                </div>
                <div class="buttons-container">
                    <a href="{{registrationUrl}}">Create account</a>

                    <div class="submit-button-container">
                        <button id="videe-activation-form-submit">Go</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>